<div class="infoblockw" ng-controller="TicketCtrl">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 tickets">
				<h3>Система заявок службы поддержки пользователей</h3>
				<h5>Ести у Вас возникли проблемы с устройством или ПО Вы можете оставить заявку или вопрос и мы рассмотрим проблему в ближайше время. </h5></hr>
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<div class="col-sm-8 col-sm-offset-2">
							<input type="text" class="form-control" ng-model="header" placeholder="Введите Ваш вопрос">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-8 col-sm-offset-2">
							<textarea  type="text" class="form-control" ng-model="description" rows="7" placeholder="Описание Вашей проблемы"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" ng-click ="sendTicket(header, description)" class="btn login">Отправить заявку</button>
							<button type="submit" ng-click ="getTicket(header, description)" class="btn login">Посмотреть другие заявки</button>
						</div>
					</div>
				</form>
			</div>
			<table class="table table-hover">
				<tr>
					<td>Вопрос</td>
					<td>Описание</td>
					<td>Ответ</td>
					<td>eMail</td>
					<td></td>
				</tr>
				<tr ng-repeat="ticket in tickets">
					<td>{{ticket.header}}</td>
					<td>{{ticket.description}} </td>
					<td>{{ticket.anser}} <input type="text" ng-model="anser" placeholder="Введите ответ"></td>
					<td>{{ticket.email}}</td>
					<td><button type="submit" ng-click ="sendAnser(header, description, anser)" class="btn login">Ответить</button></td>
				</tr>
			</table>
		</div>
	</div>
</div> 