<div>
	<form class="form-inline login-aria" name="loginForm" role="form" ng-if="!loggedIn"> 
		<div class="form-group">
		 <input type="email" name="email" ng-model="email" required="required" class="form-control login" placeholder="Введите email">  </input>
		</div> 
		<div class="form-group"> 
			<input type="password" name="password" ng-model="password" required="required" class="form-control login" placeholder="Пароль"> </input>
		</div> 
		<button type="submit" ng-disabled="!loginForm.$valid" ng-click="login(email,password)" class="btn login">Вход</button> 
		<button type="submit" ng-disabled="!loginForm.$valid" ng-click="register(email,password)" class="btn login">Регистрация</button> 
	</form>
	<form class="form-inline personalArea" ng-if="loggedIn">
		<div class="form-group">
			<button type="submit" ng-click="personalArea()" class="btn login">Личный кабинет</button> 
		</div> 
		<div class="form-group">
			<button type="submit" ng-click="logout()" class="btn login">Выйти</button> 
		</div> 
	</form> 
</div> 